/* Variables */
:root {
  /* Colours */
  --orange-dark: rgb(211, 81, 0);
  --orange-light: rgb(248, 161, 69);
  --yellow-light:  rgb(255, 255, 196);
  --blue-navy: rgb(10, 25, 47);
  --blue-light: rgb(135, 206, 250);
  --black: rgb(33, 33, 33);
  --gray: rgb(85, 85, 85);
  --white: rgb(222, 222, 222);
  /* Transistion */
  --trans-slow: 2.4s 0.1s ease-in-out;
  --trans-medium: 1.8s 0.1s ease-in-out;
  --trans-fast: 0.6s 0.2s ease-in-out;
  --trans-stop: 0s 0s linear;
  /* Blink */
  --blink: blink 5.5s infinite;
  /* Follow Cursor */
  --cursor-dimension: 30px;
  --cursor-offset: -15px;
  --cursor-radius: 50%; /* circle */
}
/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; /* Remove Underline of links */
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Courier Prime", monospace; */
  transition: all var(--trans-fast);
  color: var(--yellow-light);
}

html,
body {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(-45deg, var(--orange-light), var(--orange-dark)); */
  /* background: var(--black); */
  background: repeating-linear-gradient( 
    to bottom, 
    black 4px, 
    var(--black) 10px, 
    black 4px, 
    var(--black) 16px, 
    black 4px,
    var(--black) 12px); /* For case link image die */
  background:
    /* url('https://images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg') */
    url("../img/background_1.jpg")
    center no-repeat fixed;
  background-size: cover;
  scroll-behavior: smooth;
  cursor: url("../img/electric-pointer-1.gif"), default;
  animation: cursorDefault 400ms infinite;
  display: flex;
  place-content: center;
  overflow: hidden /* Stop Scrolling */
}

header, footer {
  display: none;
}

main {
  margin: auto;
  width: 95%;
  height: 90%;
  min-width: 1200px;
  /* max-width: 1800px; */
  min-height: 600px;
  /* max-height: 850px; */
  /* background:
    url('https://images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg')
    center no-repeat fixed;
  background-size: cover; */
  display: block; /* For case browser don't support grid */
  display: grid;
  grid-template-columns: 0.5% 2fr 0.5% 5fr 0.5%;
  grid-auto-columns: minmax(2px,auto);
  grid-template-rows: 0.75% 1fr;
  grid-gap: 14px 14px;
}

main>.neon{
  min-height: 8px;
  min-width: 8px;
  border-radius: 22.5%;
}

.container{
  border-radius: 0%;
  background: repeating-linear-gradient( 
    to bottom, 
    black 4px, 
    var(--black) 10px, 
    black 4px, 
    var(--black) 16px, 
    black 4px,
    var(--black) 12px);
}

#bar_top_left{
  grid-column: 2/3;
  grid-row: 1/1; 
}

#bar_top_right{
  grid-column: 4/5;
  grid-row: 1/1; 
}

#bar_left{
  grid-column: 1/1;
  grid-row: 2/4;
}

#bar_mid{
  grid-column: 3/3;
  grid-row: 2/3;
}

#bar_right{
  grid-column: 5/5;
  grid-row: 2/4;
}

#bar_bottom{
  grid-column: 2/5;
  grid-row: 3;
}

#sidebar{
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contents{
  grid-column: 4/5;
  grid-row: 2/3;
}

.card {
  font-family: "Poppins", sans-serif;
  background: black !important;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  width: 162px;
  height: 168px;
  border: 6px solid var(--orange-light);
  border-radius: 50%;
  overflow: hidden;
  margin: 18px 0 8px 0;
  padding: 5px 8px 0px 11px;
  background-image: url();
  background-position: center;
  background-size: 290px 390px;
  background-color: white;
  transition:
    margin var(--trans-slow),
    padding var(--trans-slow),
    border var(--trans-slow),
    border-radius var(--trans-slow),
    width var(--trans-slow),
    height var(--trans-slow),
    background-color var(--trans-medium),
    background-image var(--trans-medium),
    box-shadow 0.8s 1.9s; /* Delay after hover image full*/
}

.card__img:hover {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 30px;
  /* object-fit: cover; - Ugly*/
  border: 0px solid var(--orange-dark);
  background-color: white;
  background-image: url("../img/avatar-5x7.jpg");
  background-position: center;
  background-size: 290px 390px;
  box-shadow: 
    inset 0 0 16px white,
    0 0 16px 4px var(--orange-light),
    0 0 64px 16px var(--orange-dark);

}

.card__img:hover img {
  opacity: 0;
  transition: 
    opacity 2.6s 1.4s; /* Delay after hover image full*/
}

.card__img img {
  object-fit: cover;
  object-position: center;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: 
    opacity var(--trans-medium);
}

.card__name {
  font-size: 30px;
  transition: 
    margin var(--trans-medium), 
    opacity var(--trans-medium);
}

.card__job-title {
  font-size: 20px;
  transition: 
    margin var(--trans-medium), 
    opacity var(--trans-medium);
  
}

.card__name:hover, .card__job-title:hover{
  /* neon */
  text-shadow: 
    0 0 4px var(--orange-light), 
    0 0 8px var(--orange-light), 
    0 0 16px var(--orange-light), 
    0 0 32px var(--orange-light), 
    0 0 64px var(--orange-light), 
    0 0 128px red, 
    0 0 64px var(--orange-light), 
    0 0 32px red;
  transition: text-shadow var(--trans-fast);

}

.card__social {
  display: flex;
  width: 200px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  transition: 
    margin var(--trans-medium), 
    opacity var(--trans-medium);
}

.card__social i {
  font-size: 30px;
  color: var(--yellow-light);
}

.card__social i:hover {
  /* Neon */
  text-shadow: 
    0 0 4px var(--orange-light), 
    0 0 8px var(--orange-light), 
    0 0 16px var(--orange-light), 
    0 0 32px var(--orange-light), 
    0 0 64px var(--orange-light), 
    0 0 128px red, 
    0 0 64px var(--orange-light), 
    0 0 32px red;
  transform: scale(1.5);
  transition:
    transform var(--trans-fast),
    color var(--trans-fast),
    text-shadow var(--trans-fast);
}

.card__button {
  width: 160px;
  height: 45px;
  margin: 5px 0 10px;
  border: var(--orange-light) solid 3px;
  border-radius: 15px;
  font-size: 16px;
  background: transparent;
  color: var(--yellow-light);
  cursor: pointer;
  transition: 
    margin var(--trans-medium), 
    opacity var(--trans-medium),
    transform var(--trans-fast),
    color var(--trans-fast),
    box-shadow var(--trans-medium),
    background-color var(--trans-medium);
}

/* Disapear same level selector when hover */
.card__img:hover+.card__name,
.card__img:hover+.card__name+.card__job-title,
.card__img:hover+.card__name+.card__job-title+.card__social,
.card__img:hover+.card__name+.card__job-title+.card__social+.card__button {
  /* display: none; */
  /* Don't use display because can't transition */
  opacity: 0;
  border: 0;
  margin: -40px 0 -30px 0;
  transition: 
    margin var(--trans-slow), 
    opacity var(--trans-slow);
}

.card:hover .card__button:hover{
  /* background: linear-gradient(to right, var(--black) 8%, var(--orange-dark)); */
  background-color: var(--orange-light);
  box-shadow: 
    0 0 4px var(--orange-dark),
    0 0 8px var(--orange-dark),
    0 0 16px var(--orange-dark),
    0 0 32px var(--orange-dark),
    0 0 64px var(--orange-light),
    0 0 128px var(--white);
  border-color: var(--orange-light);
  transform: scale(1.15);
  transition:
    transform var(--trans-fast),
    color var(--trans-fast),
    text-shadow var(--trans-fast),
    background-color var(--trans-fast);
}
.card__button:hover > a,
.card__button:hover > a > i {
  color:black;
  font-weight: bold;
}

/* Cursor Pointer */
.cursor_pointer {
  cursor: url("../img/electric-select-1.gif"), pointer;
  animation: cursorPointer 500ms infinite
}

 /* NEON Effect */
.neon {
  transition: 
    filter var(--trans-stop),
    box-shadow var(--trans-stop);
  animation: var(--blink);
}

/* Shadow Below */
.neon::after {
pointer-events: none;
  content: "";
  position: absolute;
  top: 108%;
  left: 0px;
  height: 20%;
  width: 100%;
  background-color: var(--orange-dark);
  filter: 
    blur(48px)
    drop-shadow(0 0 0 var(--yellow-light)) !important;
  opacity: 0.3;
  transform: 
    perspective(32px) 
    rotateX(18deg) 
    scale(1.1, 0.5);
  animation: var(--blink);
}

/* Follow Cursor */
.cursor-follow {
  pointer-events: none; /* Disable Hover Effect */
  width: var(--cursor-dimension);
  height: var(--cursor-dimension);
  border-radius: var(--cursor-radius);
  position: absolute;
  border: 0.5px solid wheat;
  transition:
    top 1s,
    left 1s;
  transition-timing-function: ease-out;
  animation: cursorFollowIn 500ms infinite alternate;
  z-index: 1;
}

.cursor-follow::after {
  content: "";
  width: var(--cursor-dimension);
  height: var(--cursor-dimension);
  border-radius: var(--cursor-radius);
  position: absolute;
  border: 15px solid var(--yellow-light);
  top: var(--cursor-offset);
  left: var(--cursor-offset);
  opacity: 0.5;
  animation: cursorFollowOut 500ms infinite alternate;
  z-index: 1;
}

.cursor-click {
  animation: cursorClick 1000ms forwards;
  border: 1px solid yellow; 
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0%, 18%, 20%, 22%, 23%, 25%, 50%, 55%, 80%, 85%, 100% {
    background-color: var(--orange-dark);
    /* Shadow Behind */
    filter: 
      /* drop-shadow(-32px -48px 52px var(--yellow-light)); */
      drop-shadow(-16px -24px 48px var(--white));
    /* Shadow Around */
    box-shadow: 
      0 0 4px var(--orange-dark),
      0 0 8px var(--orange-dark),
      0 0 16px var(--orange-dark),
      0 0 32px var(--orange-dark),
      0 0 64px var(--orange-light),
      0 0 128px var(--orange-light);
    /* Shadow Relfect */
    -webkit-box-reflect:
      below 30px linear-gradient(transparent, rgba(0, 0, 0, 0.08));
  }
  19%, 21%, 24% {
    filter: none;
    box-shadow: none;
    -webkit-box-reflect:
      below 0 linear-gradient(transparent, transparent);
    background: none ;
  }
}

/* Animated Cursor */
@keyframes cursorDefault {
  0% {cursor: url("../img/electric-pointer-1.gif"), default;}
  12.5% {cursor: url("../img/electric-pointer-2.gif"), default;}
  25% {cursor: url("../img/electric-pointer-3.gif"), default;}
  37.5% {cursor: url("../img/electric-pointer-4.gif"), default;}
  50% {cursor: url("../img/electric-pointer-5.gif"), default;}
  62.5% {cursor: url("../img/electric-pointer-6.gif"), default;}
  75% {cursor: url("../img/electric-pointer-7.gif"), default;}
  100% {cursor: url("../img/electric-pointer-8.gif"), default;}
}

@keyframes cursorPointer {
  0% {cursor: url("../img/electric-select-1.gif"), pointer;}
  10% {cursor: url("../img/electric-select-2.gif"), pointer;}
  20% {cursor: url("../img/electric-select-3.gif"), pointer;}
  30% {cursor: url("../img/electric-select-4.gif"), pointer;}
  40% {cursor: url("../img/electric-select-5.gif"), pointer;}
  50% {cursor: url("../img/electric-select-6.gif"), pointer;}
  60% {cursor: url("../img/electric-select-7.gif"), pointer;}
  70% {cursor: url("../img/electric-select-8.gif"), pointer;}
  80% {cursor: url("../img/electric-select-9.gif"), pointer;}
  90% {cursor: url("../img/electric-select-10.gif"), pointer;}
  100% {cursor: url("../img/electric-select-1.gif"), pointer;}
}

@keyframes cursorFollowIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes cursorFollowOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}

@keyframes cursorClick {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  25% {
    transform: scale(2);
    opacity: 0.6;
  }
  50% {
    transform: scale(6);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
